body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2f2e2;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #19a52cce;
    position: relative;
}

.logo {
    width: 50px;
    position: absolute;
    left: 10px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.barra-busqueda {
    width: 60%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.barra-busqueda:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.nav-bar {
    background-color: #006400;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.carousel-inner img {
    width: 100%;
    max-width: 300px; /* Tamaño reducido */
    height: auto; 
    object-fit: cover;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.vet-locations {
    text-align: center;
    margin: 20px auto;
}

.vet-locations h2 {
    font-size: 24px;
    color: #19a52c;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.vet-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.vet-locations button {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: #19a52cce;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.vet-locations button:hover {
    background-color: #007bff;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #444;
    padding: 10px;
    color: #d3d3d3ce;
}

.footer-icon img {
    width: 30px;
}

main {
    padding: 20px;
}

section {
    padding: 10px;
    margin-bottom: 20px;
}



