body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2f2e2; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #19a52cce;
}

.logo {
    width: 50px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.barra-busqueda {
    width: 40%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.barra-busqueda:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.carousel-inner img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}

.vet-locations {
    text-align: center;
}

.vet-locations button {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    background-color: #19a52cce;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.vet-locations button:hover {
    background-color: #007bff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #444;
    padding: 10px;
}

.footer-icon img {
    width: 30px;
}

main {
    padding: 20px;
    color: #d3d3d3ce;
}

section {
    border: 1px solid black; 
    padding: 10px;
    margin-bottom: 20px;
}



.carousel-item img {
    width: 80%; 
    max-width: 400px;
    height: 200px; 
    object-fit: cover; 
    margin: 0 auto; 
}


